WpfMatchClient2/Service References/MatchService2/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8735/MatchServerLib/MatchService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8735/MatchServerLib/MatchService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MatchServerLib" />
  <xs:element name="InitDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dic" nillable="true" type="q1:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitDicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrawResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drawnum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="res" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrawResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrawResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrawResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDrawResultResult" nillable="true" type="q2:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="GetTeamsResult" nillable="true" type="q3:ArrayOfteaminfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchTeams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="GetMatchTeamsResult" nillable="true" type="q4:ArrayOfteaminfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMatchTeams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="teamarray" nillable="true" type="q5:ArrayOfteaminfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMatchTeamsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="GetMatchsResult" nillable="true" type="q6:ArrayOfmatchinfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="team" type="q7:teaminfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTeamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="match" type="q8:matchinfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMatchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatchTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatchTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="composite" nillable="true" type="q9:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q10:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>