WpfMatchClient/Service References/MatchService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MatchServerLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MatchServerLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8735/MatchServerLib/MatchService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8735/MatchServerLib/MatchService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTeamStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamStatus" type="tns:TeamStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamStatus" nillable="true" type="tns:ArrayOfTeamStatus" />
  <xs:complexType name="TeamStatus">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Islogined" type="xs:boolean" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamStatus" nillable="true" type="tns:TeamStatus" />
  <xs:complexType name="TeamData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CardD" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="CardInfo" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DrawInfo" nillable="true" type="q2:ArrayOfKeyValueOfstringPersonDataEwaZeCGs" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamData" nillable="true" type="tns:TeamData" />
  <xs:complexType name="PersonData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DrawResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonData" nillable="true" type="tns:PersonData" />
  <xs:complexType name="ArrayOfteaminfodb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="teaminfodb" type="tns:teaminfodb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfteaminfodb" nillable="true" type="tns:ArrayOfteaminfodb" />
  <xs:complexType name="teaminfodb">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Loginname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="teaminfodb" nillable="true" type="tns:teaminfodb" />
  <xs:complexType name="ArrayOfmatchinfodb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="matchinfodb" type="tns:matchinfodb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmatchinfodb" nillable="true" type="tns:ArrayOfmatchinfodb" />
  <xs:complexType name="matchinfodb">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupCount" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="matchinfodb" nillable="true" type="tns:matchinfodb" />
</xs:schema>