WpfMatchClient/Service References/MatchService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8735/MatchServerLib/MatchService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MatchServerLib" />
  <xs:element name="InitDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="InitDicResult" nillable="true" type="q1:ArrayOfTeamStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropMatchData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DropMatchDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamname" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="drawdata" nillable="true" type="q2:TeamData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDrawResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="GetDrawResult" nillable="true" type="q3:TeamData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="GetTeamsResult" nillable="true" type="q4:ArrayOfteaminfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchTeams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="GetMatchTeamsResult" nillable="true" type="q5:ArrayOfteaminfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="GetMatchsResult" nillable="true" type="q6:ArrayOfmatchinfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="team" type="q7:teaminfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTeamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="team" type="q8:teaminfodb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamname" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="perdata" nillable="true" type="q9:PersonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamname" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MatchServerLib" minOccurs="0" name="perdata" nillable="true" type="q10:PersonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>